body {
	padding: 20px;
	text-align: left;
	background-color: #f5f5f5;
}

.button {
	height: 50px;
	width: 50px;
	background-color: #fff;
	color: #000;
	text-align: center;
	font-size: 25px;
	margin-bottom: 50 px;
}

.button:hover {
	background-color: #3e8e41;
}

#message {
	font-size: 50 px;
	color: green;
}