body {
	padding: 20px;
	text-align: left;
	background-color: #f5f5f5;
}

#contor {
	height: 50px;
	width: 50px;
	background-color: #fff;
	color: #555;
	text-align: center;
	font-size: 25px;
	margin-bottom: 50 px;
}

#contorJ {
	height: 50px;
	width: 50px;
	background-color: #fff;
	color: #555;
	text-align: center;
	font-size: 25px;
	margin-bottom: 50 px;
}

#inc {
	margin-top : 50 px ;
	height : 50 px ;
	width : 50 px ;
	background-color: #5b9aff;
	color: #555;
	font-size : 20 px ;
}

#inc:hover {
	background-color: #3e8e41;
}